name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x  
        
    - name: run tests
      id: run-tests
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: run tests
        setup-command: ''
        command: dotnet test
        timeout: 10
        max-score: 5
        
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        RUN-TESTS_RESULTS: "${{steps.run-tests.outputs.result}}"
      with:
        runners: run-tests